{% extends "base.html" %}
        
    {% block header %}
        <title>电影搜搜网_dysoso.com_提供电影的搜索服务</title>
        <meta name="Keywords" content="电影，最新电影,迅雷下载,电影搜索，电影排行榜,电影下载,电影大全" />
    {% endblock %}


    {% block main %}
    <span> 热门分类：</span>
    <a href="/list/type?kw=动作"><span class="label label-success">动作片</span></a>
    <a href="/list/type?kw=喜剧"><span class="label label-success">喜剧片</span></a>
    <a href="/list/type?kw=爱情"><span class="label label-success">爱情片</span></a>
    <a href="/list/type?kw=科幻"><span class="label label-success">科幻片</span></a>
    <a href="/list/type?kw=恐怖"><span class="label label-success">恐怖片</span></a>
    <a href="/list/type?kw=剧情"><span class="label label-success">剧情片</span></a>
    <a href="/list/type?kw=战争"><span class="label label-success">战争片</span></a>
    <a href="/list/country?kw=中国"><span class="label label-success">国产片</span></a>
    <a href="/list/country?kw=欧美"><span class="label label-success">欧美片</span></a>
    <a href="/list/country?kw=日韩"><span class="label label-success">日韩片</span></a>

    </br>
    </br>
    </br>
    this is 404, sorry!
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    {% endblock %}
